.headers {
    display:inline-block;
    width: 20%;
    overflow: hidden;
}

.units {
    display:inline-block;
    width: 20%;
    overflow: hidden;
}


.absolute {   
    position:absolute;
    bottom: 0;
}

.relative {
    position: relative;
    background-color: white;
}

.title {   
    font-size: 2em;
    padding: 0.5em 0.5em 0.5em 1em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

.headers {
    font-size: 1em;
}

html {
    background-color: gray;
}

body {
    background-color: lightgray;
    margin: 3em;
    padding: 0em;
}

figcaption {
    color: white;
    padding: 1em 0em 1em;
    width: 100%;
    font-size: 1em;
    line-height: 1.6em;
    background-color: black;
    opacity: 0.4;
}

figure {
    margin: 0em;
}

img {
    width: 100%;
}

h2 {
    font-size: 1.2em;
    padding-left: 2em;
}

footer {
    color: lightgray;
}

.white {
    background-color: white;
}